[submodule "external/icons"]
	path = external/icons
	url = https://github.com/PKief/vscode-material-icon-theme.git
[submodule "external/stb"]
	path = external/stb
	url = https://github.com/nothings/stb.git
[submodule "external/cJSON"]
	path = external/cJSON
	url = https://github.com/DaveGamble/cJSON
[submodule "external/LspCpp"]
	path = external/LspCpp
	url = https://github.com/kuafuwang/LspCpp.git
